/*Header*/
body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    min-height: 75px;
    background-image: linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    background-image: linear-gradient(100deg, #84d0ff 0, #92cdff 5.56%, #a0caff 11.11%, #aec7ff 16.67%, #bbc4ff 22.22%, #c8c1ff 27.78%, #d4beff 33.33%, #dfbbff 38.89%, #e9b8f9 44.44%, #f2b5f2 50%, #fab3ea 55.56%, #ffb1e2 61.11%, #ffafd9 66.67%, #ffaed1 72.22%, #ffadc8 77.78%, #ffadbf 83.33%, #ffaeb6 88.89%, #ffafad 94.44%, #ffb1a5 100%);
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width: 781px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}

/*Final header*/

#game-container {
    width: 600px;
    margin: 0 auto;
}

body {
    background: rgb(63, 94 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-family: sans-serif;
    color: white;
}

main {
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

.section1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

button {
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.section2 {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;
}

.estadisticas {
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
}